
########## Cache files ##########
*.bin
__pycache__
MODULE.bazel.lock
MODULE.bazel
.vscode


########## User files ##########
evaluation/*
lib
obj
output
result_*
perf.*
.env
text_generator_main
models/*
nohup.out
scripts/*.log

# Excludes from User files
!evaluation/show-plot.py
!evaluation/plot.sh
!prompt/*.txt

########## Folders ##########
backup
log_backup
external
util/benchmark_ops_results
inc/absl
inc/sentencepiece
inc/tensorflow
inc/flatbuffers
inc/litert
inc/tflite